DATABASE_URL="postgresql://estate:estate@127.0.0.1:5432/estate_elite?schema=public"
AUTH_SECRET=""
AUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST="true"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
UPLOADTHING_TOKEN=""